@import '../responsive.scss';
$base-color: rgb(0,32,96);
.footer-container-page {
    width: 100vw;
    padding: 0 20% 0 20%;
    margin-top: 30px;
    @media (max-width: $laptop) {
        padding: 0px 10% 0px 10%;
    }
    @media (max-width: $mobile) {
        padding: 0 6px;
    }
}
.footer-container{
    padding: 0 20px;
    background-color: $base-color;
margin:0 auto;

}
.footer-item{
    display:flex;
    flex-direction:row;
    @media (max-width: 700px) {
        flex-direction: column;
        gap: 10px;
    }
}
.footer-item p{
    font-size: 14px;
}
.item1{
    width:45%;
    @media (max-width: 700px) {
        width:100%;
    
      }
}
.item2{
    width:40%;
    display:flex;
    justify-content: space-between;
    @media (max-width: 700px) {
        width:100%;
    flex-direction:column;
      }
}
.item3{
    width:15%;
    display:flex; 
    justify-content:flex-end;
    @media (max-width: 700px) {
        margin-top: 20px;
        width:100%;
        justify-content:center;
      }
}
.primary-text{
    font-weight:600;
    color: white;
}
.sub-text{
    color: white;
}
.divider-footer{
    margin: 20px 0;
    border-color:#817f7f96;

}