.footer-container-page{
    width: 100vw;
    background:#363636;
}
.footer-container{
    max-width: 1440px;
margin:0 auto;
    @media (min-width: 300px) {
        padding: 0px 10px ;
    
      }
      @media (min-width: 480px) {
        padding: 0px 50px ;
        
      }
      @media (min-width: 900px) {
        padding: 0px 90px ;
      }
      @media (min-width: 1024px) {
        padding: 0px 160px ;
      }
}
.footer-item{
    display:flex;
    flex-direction:row;
}
.footer-item p{
    font-size: 14px;
}
.item1{
    width:45%;
}
.item2{
    width:40%;
    display:flex;
    justify-content: space-between;
}
.item3{
    width:15%;
    display:flex; 
    justify-content:flex-end;
}
.primary-text{
    font-weight:600;
    color:white;
}
.sub-text{
    color:#b1adad;
}
.divider-footer{
    margin: 20px 0;
    border-color:#817f7f96;

}