$black-color: #141517;
@import '../responsive.scss';
.header-container {
  width: 100%;
  .header-wrapper {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //logo
    .logo-wrapper {
      width: 12%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .logo-wrapper:hover {
      cursor: pointer;
    }
    //menu
    .big-menu{
      width: 35%;
      @media (max-width: $mobile)  {
        display: none;
      }
      .menu-bars-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $mobile) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .menu-item {
          .menu-element {
            a {
              color: $black-color;
              font-weight: 600;
              font-size: 16px;
            }
          }
          .menu-element:hover {
            a {
              color: red;
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
      }
    }
    //list interactive icon
    .interactive-icon-wrapper {
      width: 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      svg {
        color: $black-color;
        font-size: 25px;
      }
      svg:hover {
        cursor: pointer;
      }
      .user-icon-wrapper {
        position: relative;
        display: inline-block;
        .user-info-hover-container {
          overflow: hidden;
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 120px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 0;
          z-index: 100;
          border-radius: 15px;
          margin-left: -50px;
          margin-top: 1px;
          font-size: 30px;
          flex-direction: column;
          align-items: center;
            .user-info-element {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              padding: 4px 0;
              a {
                text-transform: capitalize;
                color: black;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
              }
              a:hover {
                color: red;
              }
              p {
                color: black;
                font-size: 14px;
                font-weight: 500;
              }
            }
            .user-info-element:hover {
              cursor: pointer;
              background-color: rgb(240, 240, 240);
            }
            .user-info-element:hover p {
              color: red;
            }
        }
      }
      .user-icon-wrapper:hover .user-info-hover-container {
        display: flex;
      }
    }
  }
}

.name-container {
  margin-top: 7px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
}

#cart-shopping-iconn:hover {
  color: red;
}

.black-header {
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 16px;
  }
  a {
    font-size: 16px;
    text-transform: capitalize;
    color: #CEBD9C !important;
    text-decoration: none;
    font-weight: 500;
  }
}

.shop-now-wrapper {
  margin-left: 5px;
  border-bottom: 2px solid #CEBD9C;
}
