$base-color: rgba(0, 32, 96);
.big-menu{
  background-color: #F2F2F2;
  padding: 10px;
    display:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(122, 122, 122);
    @media (min-width: 900px)  {
        display:flex;
        width: 100%;
    }
}
.icon-menu{
    display:flex;
    @media (min-width: 900px)  {
        display:none;
    }
}
.css-i4bv87-MuiSvgIcon-root{
    color:black;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    background:rgba(0, 0, 0, 0.8);
    color:white;
    min-width: 200px;
}

.header-container {
  @media (max-width: 500px) {
    width: 100%;
    padding: 0px 6px;
    height: 50px;
    background: #dddddd; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 1100px) {
    padding: 0px 20% 0px 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introduction-header-container {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $base-color;
    .logo-wrapper {
      margin-left: 50px;
      width: auto;
      height: 80px;
      background-color: #DDDDDD;
      padding: 2px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .logo-container {
        width: 20%;
        height: 100%;
        @media (min-width: 1300px) {
          width: 50px;
          height: 50px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
        }
        overflow: hidden;
        display: flex;
        flex-direction: row;
      }
      .logo-para {
        height: 60px;
        width: 80%;
        display: flex;
        flex-direction: column;
      }
    }
    .search-wrapper {
      position: relative;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .search-input {
        padding-left: 10px;
      }
      .search-button {
        background-color: #E9EAEC;
        width: 100px;
        height: 100%;
        margin-left: -15px;
        border-radius: 10px;
        color: #6B5A59;
        text-transform: none;
        font-size: 15px;
        font-weight: 700;
      }
    }
    .phone-service-wrapper {
      background: transparent;
      display: flex;
      flex-direction: column;
      border-radius: 50px;
      padding: 10px 30px;
      p {
        color: white;
        font-size: 20px;
      }
      border: 2px solid white;
      .phone-service-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        .phone-icon {
          color: white;
          font-size: 25px;
        }
        p {
          margin-left: 10px;
          font-weight: 700;
          font-size: 25px;
        }
      }
    }
    .cart-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: white;
      }
    }
    
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-shadow:  -5px 0px rgb(233, 232, 232);
  margin: 0px;
}

.menu-item:not(:first-child) {
  margin-left: 10px;
}

.menu-item p {
  text-align: center;
  color: $base-color;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}