
.big-menu{
    display:none;
    @media (min-width: 900px)  {
        display:flex;
        height:100%;
    }
}
.icon-menu{
    display:flex;
    @media (min-width: 900px)  {
        display:none;
    }
}
.css-i4bv87-MuiSvgIcon-root{
    color:black;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    background:rgba(0, 0, 0, 0.8);
    color:white;
    min-width: 200px;
}