@import '../responsive.scss';
$base-color: rgb(0,32,96);
.list-courses-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.course-wrapper {
  padding: 10px;
  width: 100%;
}

.list-courses-content-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.list-courses-search-container {
  width: 25%;
  border-radius: 15px;
  overflow: hidden;
  @media (max-width: $mobile) {
    width: 100%;
  }
  .list-items-search-container-title {
    margin-top: 10px;
    text-align: center;
    background-color: #002060;
    padding: 10px;
    p {
      color: white;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .list-items-search-container-content {
    padding: 5px;
    background-color: #D9D9D9;
    .list-items-search-container-elements {
      color: $base-color;
      padding: 10px;
      background-color: #D9D9D9;
      border: 1px solid white;
      font-weight: 700;
      text-transform: uppercase;
    }
    .list-items-search-container-elements:hover {
      background-color: $base-color;
      cursor: pointer;
      p {
        color: white;
      }
    }
  }

}
.list-courses-course-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  @media (max-width: $mobile) {
    width: 100%;
  }
  .list-course-item-page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    .big-course-wrapper {
      width: 50%;
      height: 300px;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Nizza-C%C3%B4te_d%27Azur.jpg/800px-Nizza-C%C3%B4te_d%27Azur.jpg);
      border-radius: 20px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      @media (max-width: $mobile) {
        width: 100%;
      }
      .big-course-title-wrapper {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .big-course-title {
          color: white;
          font-size: 25px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .big-course-introduction {
          background-color: rgb(0, 0, 0, 0.2);
          color: $base-color;
          font-size: 20px;
          line-height: 1.5;
          margin-bottom: 20px;
        }
      }
      .big-course-register-button {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        button {
          margin-bottom: 20px;
          width: fit-content;
          padding: 10px;
          border-radius: 50px;
          border: none;
          color: $base-color;
          font-weight: 700;
        }
      }
    }
  }
}

.post-page-register-wrapper {
  .post-page-register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    background-color: #F2F2F2;
    .post-page-input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      p {
        color: $base-color;
        font-weight: 700;
      }
      input {
        background-color: white;
        color: $base-color;
        height: 30px;
      }
    }
    button {
      margin-top: 40px;
      background-color: #FF0000;
      border: 2px solid white;
      padding: 5px 10px;
      border-radius: 10px;
      text-transform: uppercase;
    }

    button:hover {
      cursor: pointer;
    }
    .post-page-input-wrapper:not(:first-child) {
      margin-top: 20px;
    }
    .post-page-input-wrapper {
      input {
        border: 1px solid $base-color;
        padding: 0 5px;
        outline: none;
      }
    }
    .list-courses-menu-wrapper {
      width: 100%;
    }
  }
}

.list-items-element-course {
  margin-bottom: 20px;
  width: 32%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.6em;
  border-radius: 12px;
  position:relative;
  align-items:center;
  @media (min-width: 1800px) {
    width:23%;
  }
  @media (max-width: $mobile) {
    width: 48%;
  }
}