@import '../responsive.scss';
$base-color: rgb(0,32,96);


.home-page-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20% 0px 20%;
    margin-top: 170px;
    background: #f9f9f9;
  @media (min-width: 300px) {
    padding: 0px 30px 30px 30px;
    margin-top: 20px;
  }
  @media (min-width: 480px) {
    padding: 0px 50px 30px 50px;
    margin-top: 20px;
  }
  @media (max-width: 900px) {
    padding: 0px 90px ;
    margin-top: 70px;
  }
  @media (min-width: 1024px) {
    padding: 0px 20% 50px 20%;
  }
    .intro-home-page-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .intro-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid blue;
            padding: 15px;
            @media (min-width: 1024px) {
                margin-top: 50px;
            }
            @include mobile-large{
                flex-direction: column;
            }
            @include mobile{
                flex-direction: column;
            }
            .intro-content-container {
                margin-left: 30px;
                height: 100%;
                width: 75%;
                display: flex;
                flex-direction: column;
                @include mobile-large{
                    width: 100%;
                }
                @include mobile{
                    width: 100%;
                }
                .intro-content-title {
                    font-weight:normal;
                    color:#f70d28;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .intro-content-para {
                    margin-top: 25px;
                    color: blue;
                    vertical-align: baseline;
                    font-size: 14px;
                    text-rendering: optimizeLegibility;
                    font-weight: 500;
                    font-style: italic;
                }

                .intro-content-button {
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 100px;
                    height: 45px;
                    border: 2px solid #08c;
                    border-radius: 2em;
                    text-transform: none;
                }
            }

            .intro-image-container {
                height: 250px;
                width: 250px;
                border-radius: 30px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile-large{
                    width: 100%;
                    padding: 20px;
                }            
                @include mobile{
                    width: 100%;
                    margin: 0;
                    margin-top: 0px;
                    padding: 20px;
                }            
                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
        }
    }

    .list-services-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .list-services-title-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 10px;
            
            .title-top-home-page {
                border-bottom: 2px solid $base-color;
            }

            p {
                color: $base-color;
                font-weight: 700;
                font-size: 25px;
                
            }
        }

        .list-services-content-container {
            height: 80%;
            width: 100%;
            .list-services-content-swiper {
                height: 100%;
                width: 100%;
                padding-bottom: 20px;
                
                    .swiper-slide-featured-news {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        @media (max-width: 500px) {
                            padding: 0px 10% 0px 10%;
                        }
                        
                        .swiper-slide-featured-news-content {
                            height: 80%;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 20px 20px 0px 20px;
                                border-radius: 15px;
                                overflow: hidden;
                                background-image: url(https://www.kimca.net/wp-content/themes/jnews-child/images/clouds.png);
                                @media (max-width: 500px) {
                                    padding: 20px;
                                }

                            .swiper-slide-featured-news-image {
                                width: 100%;
                                height: 60%;
                                border-radius: 20px;
                                overflow: hidden;
                                
                                #swiper-slide-image {
                                    width: 100%;
                                    height: 200px;
                                    object-fit: cover;
                                }

                            }
                            
                        }

                        button {
                            padding: 10px 20px 10px 20px;
                            border: 2px solid #08c;
                            background-color: #08c;
                            color: white;
                            border-radius: 2em;
                            text-transform: none;
                            font-size: 14px;
                            font-weight: normal;
                            margin-top: 30px;
                        }
                    }
                
            }
        }

        
    }

    .intro-courses-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .intro-courses-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid blue;
            padding: 15px;
            @media (min-width: 1024px) {
                margin-top: 50px;
            }
            @include mobile-large{
                flex-direction: column;
            }
            @include mobile{
                flex-direction: column;
            }
            .intro-content-container {
                margin-left: 30px;
                height: 100%;
                width: 75%;
                display: flex;
                flex-direction: column;
                @include mobile-large{
                    width: 100%;
                }
                @include mobile{
                    width: 100%;
                }
                .intro-content-title {
                    font-weight:normal;
                    color:#f70d28;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .intro-content-para {
                    margin-top: 25px;
                    color: blue;
                    vertical-align: baseline;
                    font-size: 14px;
                    text-rendering: optimizeLegibility;
                    font-weight: 500;
                    font-style: italic;
                }

                .intro-content-button {
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 100px;
                    height: 45px;
                    border: 2px solid #08c;
                    border-radius: 2em;
                    text-transform: none;
                }
            }

            .intro-image-container {
                height: 250px;
                width: 250px;
                border-radius: 30px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile-large{
                    width: 100%;
                    padding: 20px;
                }            
                @include mobile{
                    width: 100%;
                    margin: 0;
                    margin-top: 0px;
                    padding: 20px;
                }            
                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
        }



    }
    .list-posts-home-page-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media (min-width: 1300px) {
            margin-top: 0px;
        }

        .list-posts-home-page-content-container {
            display: flex;
            flex-direction: row;
            height: 800px;
            @media (max-width: 500px) {
                flex-direction: column;
            }
        }
    }
}

