.home-page-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #f9f9f9;
    .item-home-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .banner-item-wrapper {
            width: 100%;
            height: 80vh;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            .swiper-banner-container {
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
                width: 100%;
                height: 100%;
                .swiper-banner-element {
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -o-user-select: none;
                    user-select: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -o-user-select: none;
                        user-select: none;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.swiper-button-prev, .swiper-button-next {
    color: white;
    background-color: rgba(41,38,33,0.2);
    height: 100px !important;
    width: 50px !important;

}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px !important;
    line-height: 60px !important;
    color: white;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: #292621;
}

.swiper-pagination{
    display: none !important;
}
