.lapla{
    width:100vw;
    /* height:100vh; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 100px 0;
}
.lap-la-tab{
    width:80%;
    height:340px;
    background: red;
    border: 1px solid blue
}
.lap-la-info{
    background: yellow;
    margin-top: 50px;
    width:80%;
    height:300px;
    text-align:center;
}
.css-10mzr36-MuiGrid-root{
    width: 100%;
    margin:0
}
.tuvi{
    width:90%;
    display:flex;
    flex-direction:column;
    gap:12px;
}
.birthday{
    display:flex;
    justify-content:space-between;
    
}
.date{
    width:28%;
}