
.css-1xgjpwf-MuiGrid-root{
    justify-content:center;

}
.css-480o17-MuiGrid-root{
    margin-left:0;
    display: grid;
    justify-content:center;
    grid-gap: 10px 50px;
    grid-template-columns: repeat(auto-fill, 270px);
}
.content-post{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 5) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
}
.css-480o17-MuiGrid-root>.MuiGrid-item{
    padding-left:0;
}