@tailwind base;
@tailwind components;
@tailwind utilities;
@import './editor.css';
@import './Home.css';
@import './pages/tintuc.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --item-blue:#0000ff;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}
*{
  font-size: 14px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
    
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  font-family: Arial, Helvetica,sans-serif;
  background: #f9f9f9;
}
.root-container-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) , rgba(0, 0, 0, 0.7) 60px, rgba(0, 0, 0, 0.99) 107px);
  background-clip: padding-box;
}
.full-box {
  width: 100%;
  height: 100%;
}

.half-col {
  width: 100%;
  height: 50%; 
}

.half-row {
  width: 50%;
  height: 100%; 
}

.one-third-col {
  width: 100%;
  height: 33.33%; 
}

.one-third-row {
  width: 33.33%;
  height: 100%; 
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-no-dir {
  align-items: center;
}

.center-dir {
  justify-content: center;
}

.list-items-detail-element:hover {
  cursor: pointer;
}

.amount-icon:hover {
  cursor: pointer;
}

.cart-shopping {
  width: 70px;
  background-color: gray;
  padding: 10px;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 40px;
}
.cart-shopping_header {
  padding: 10px;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 899px){
    padding:0;
  }
}

.cart-shopping:hover, .cart-shopping_header:hover {
  cursor: pointer;
}

.cart-amount {
  position: absolute;
  border-radius: 25px;
  top: 0px;
  right: 0px;
  background-color: red;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.amount-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.detail-posts-container {
  width: 100%;
  height: auto;
}

.image-home-page-container {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
}

.image-home-page:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

#image-home-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-posts-detail-element {
  position: relative;
  padding: 10px 0px 10px 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.list-posts-detail-element-3 {
  padding: 10px 0px 10px 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  height: 50px;
  overflow: hidden;
}

.list-posts-detail-element:hover {
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}


.list-posts-image:hover {
  transition-duration: 1s;
}

.css-9mgopn-MuiDivider-root{
  border-width: 1px ;
  border-color: rgb(122, 157, 233);
}

#image-post_tintuc {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#image-post_item {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

#image-post_item:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  cursor: pointer;
}

#image-post_tintuc:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  cursor: pointer;
}

.detail-posts-focus-title {
  margin-left: 10px;
  font-size: 15px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color:white;
  background:var(--item-blue);
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  background:#00206056;
  color:var(--item-blue);
  font-weight:600;
}

.posts-focus-title {
  margin-top: 70px;
  font-size: 30px;
  font-weight: 700;
}

.list-posts-featured-swiper {
  height: 100%;
  width: 100%;
}

.image-and-content-element {
  height: 80%;
  width: 100%;
  /* background-color: green; */
}

h1{    transition: all 0.3s linear;}


.MuiPagination-ul li button{
  color: #666666;
  font-size: 17px;
  border: 1px solid #444444;
  border-radius: 0 !important;
  width: 40px;
  height: 40px;
}

.MuiPagination-ul li button:hover{
  background-color: #444444;
  color: white;
}

.css-lqq3n7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #444444;
  color: white;
}

.css-lqq3n7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background-color: #444444;
  color: white;
  cursor: context-menu;
}

.MuiPaginationItem-root {
  color: #444444;
}

.list-posts-input-content {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
}

.list-posts-input-content:hover {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid white;
  color: black;

}

.list-posts-input-content:focus {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  outline: none;
  color: black;
  border-radius: 20px;
  border: 1px solid white;
}

.list-read-most {
  margin-top: 10px;
}

.list-read-most-content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.rounded-index {
  background-color: #ef5350;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  border-radius: 50%;
}

.rounded-index p {
  font-size: 15px;
}

.list-read-most-title {
  width: 90%;
  height: 100%;
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.4em;
  line-height: 1.2em;
}

.list-read-most-title:hover {
  color: #ed1c24;
  cursor: pointer;
}

.list-item-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap:20px;
  padding: 0px 0px 50px 0px;
}
.css-10d9dml-MuiTabs-indicator{
  display:none;
}
.css-35zqo5-MuiTabs-root{
  border-right:unset;
}

.btn-details-post-course {
  margin-top: 10px;
  width: fit-content;
  padding: 0.5em 1.2em !important;
  border-radius: 18px;
  background-color: rgb(0,32,96);
  color: white;
  position:absolute;
  bottom:10px;
}

#image-item-detail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-zoom-detail {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.list-item-demo {
  margin-top: 20px;
  height: 18%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.list-item-demo-elements {
  border: 2px solid gray;
  width: 23%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item-demo-elements:not(:first-child) {
  margin-left: 10px;
}

.list-item-demo-elements img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.list-item-buy-most-elements {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.buy-most-title {
  background-color: #eb1b24;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-most-container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.item-buy-most-wrapper {
  height: 100%;
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#image-buy-most {
  width: 100%;
  height: 150px;
}

#cart-shopping-icon {
  font-size: 40px;
  margin-left: 2px;
}

#cart-shopping-iconn {
  font-size: 40px;
  color: white;
}

#delete-cart-item {
  color: rgb(170, 167, 167) !important;
}

#delete-cart-item:hover {
  color: black;
  cursor: pointer;
}

.logo-para {
  display: flex;
  flex-direction: column;
}

.logo-para p {
  color: black;
}

.title-top-home-page {
  font-size: 18px;
  color: #f70d28;
  font-weight: normal;
  @media (min-width: 1300px) {
    font-size: 18px;
    color: #f70d28;
    font-weight: normal;
  }
}

.swiper-pagination-bullet {
  color: black !important;
}

.mobile-view {
  @media (max-width: 800px) {
    display: none;
  }
}

.logo-title {
  font-size: 40px;
  font-weight: 700;
  @media (max-width: 1300px) {
    font-size: 20px;
    line-height: 1em;
  }
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  padding: 0;
  min-width: 1em;
}

.search-mobile-icon {
  @media (min-width: 1300px) {
    display: none;
  }
}

.second-and-third-posts-home-page {
  margin-top: 25px;
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mini-first-posts-home-page {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.ql-video {
  width: 100%;
  height: 30vw;
}

.loading {
  top: 50%;
  left: 50%;
  z-index: 1000;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70px !important;
  height: 70px !important;
}

.loading-page {
  height: 1000px;
}

.cart-title-p {
  display: flex;
  @media(max-width: 1300px) {
    display: none;
  }
}

.display-laptop {
@media(min-width: 800px) {
  display: none;
}
}